{% load static %}

<footer>
    <div class="container-xl">
        <div class="footer-inner">
            <div class="row d-flex align-items-center gy-4">
                <!-- copyright text -->
                <div class="col-md-12">
                    <p>cocukmasallarioku.com ("Web Sitesi")'u ziyaret ederek, aşağıdaki kullanım şartlarını kabul etmiş olursunuz:</p>

    <p>Web Sitesi'nde bulunan tüm içerikler bizim mülkiyetimizdir veya lisanslıdır ve telif hakkı yasaları tarafından korunmaktadır. İçeriği izinsiz kullanmak yasaktır.</p>

    <p>Bu İnternet Sitesi içeriğinde yer alan tüm eserler (yazı, resim, görüntü, fotoğraf, video, müzik vb.) cocukmasallarioku.com’a ait olup, 5846 sayılı Fikir ve Sanat Eserleri Kanunu ve 5237 sayılı Türk Ceza Kanunu kapsamında korunmaktadır. Bu hakları ihlal eden kişiler, 5846 sayılı Fikir ve Sanat eserleri Kanunu ve 5237 sayılı Türk Ceza Kanununda yer alan hukuki ve cezai yaptırımlara tabi olurlar.</p>
                </div>

                <!-- link blocks -->
                <div class="col-md-3">
                    <h3 style="font-size: 16px;">Popüler Şiir Kategorileri</h3>
                    <ul>
                        <!-- Add your links here -->
                        <li><a href="https://www.enguzelsiirler.com/siir/kategori/ask-siirleri/" target="_blank">Aşk
                            Şiirleri</a></li>
                        <li><a href="https://www.enguzelsiirler.com/siir/kategori/anne-siirleri/" target="_blank">Anne
                            Şiirleri</a></li>
                        <li><a href="https://www.enguzelsiirler.com/siir/kategori/baba-siirleri/" target="_blank">Baba
                            Şiirleri</a></li>
                        <li><a href="https://www.enguzelsiirler.com/siir/kategori/dini-siirler/" target="_blank">Dini
                            Şiirler</a></li>
                        <li><a href="https://www.enguzelsiirler.com/siir/kategori/dogum-gunu-siirleri/"
                               target="_blank">Doğum Günü Şiirleri</a></li>

                        <!-- Add more links as needed -->
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 style="font-size: 16px;">Popüler Masallar</h3>
                    <ul>
                        <!-- Add your links here -->
                        <li><a href="https://www.cocukmasallarioku.com/masal-kategori/aile-masallari/">Aile
                            Masalları</a></li>
                        <li><a href="https://www.cocukmasallarioku.com/masal-kategori/uyku-masallari/">Uyku
                            Masalları</a></li>
                        <li><a href="https://www.cocukmasallarioku.com/masal-kategori/egitici-masallar/">Eğitici
                            Masallar</a></li>
                        <li><a href="https://www.cocukmasallarioku.com/masal-kategori/keloglan-masallari/">Keloğlan
                            Masalları</a></li>
                        <li><a href="https://www.cocukmasallarioku.com/masal-kategori/dini-masallar/">Dini Masallar</a>
                        </li>

                        <!-- Add more links as needed -->
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 style="font-size: 16px;">Popüler Hikayeler</h3>
                    <ul>
                        <!-- Add your links here -->
                        <li><a href="https://www.cocukmasallarioku.com/hikaye-kategori/dini-hikayeler/">Dini
                            Hikayeler</a></li>
                        <li><a href="https://www.cocukmasallarioku.com/hikaye-kategori/korkusuz-kahraman-hikayeleri/">Korkusuz
                            Kahraman Hikayeleri</a></li>
                        <li><a href="https://www.cocukmasallarioku.com/hikaye-kategori/ingilizce-hikayeler/">İngilizce
                            Hikayeler</a></li>
                        <li><a href="https://www.cocukmasallarioku.com/hikaye-kategori/hazine-avi-hikayeleri/">Hazine
                            Avı Hikayeleri</a></li>
                        <li><a href="https://www.cocukmasallarioku.com/hikaye-kategori/uzay-maceralari-hikayeleri/">Uzay
                            Maceraları Hikayeleri</a></li>

                        <!-- Add more links as needed -->
                    </ul>
                </div>

                <div class="col-md-3">
                    <h3 style="font-size: 16px;">Site Bilgileri</h3>
                    <ul>
                        <!-- Add your links here -->
                        <li><a href="{% url 'iletisim' %}">iletişim</a></li>
                        <li><a href="{% url 'hakkimizda' %}">Hakkımızda</a></li>
                        <li><a href="{% url 'gizlilik-politikasi' %}">Gizlilik Politikası</a></li>
                        <li><a href="{% url 'kullanim-sartlari' %}">Kullanım Şartları</a></li>



                        <!-- Add more links as needed -->
                    </ul>
                </div>


                <!-- go to top button -->
                <div class="col-md-12">
                    <a href="#" id="return-to-top" class="float-md-end"><i class="icon-arrow-up"></i>En Başa Dön</a>
                </div>
            </div>
        </div>
    </div>
</footer>