{% load static %}

<header class="header-personal">
    <div class="container-xl header-top">
        <div class="row align-items-center">
            <div class="col-4 d-none d-md-block d-lg-block">
                <!--
<ul class="social-icons list-unstyled list-inline mb-0">
    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
</ul>
-->

            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                <!-- site logo -->
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/hikaye-masal.webp' %}"
                                                                     loading="lazy" alt="En Güzel Hikayeler" width="125"
                                                                     height="125"/></a>
                <a href="{% url 'home' %}" class="d-block text-logo">Masallar & Hikayeler<span class="dot">.</span></a>
                <span class="slogan d-block">En Güzel Masal & Hikayeler Hepsi Tek Bir Sayfada</span>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <!-- header buttons -->
                <div class="header-buttons float-md-end mt-4 mt-md-0">
                    <button class="burger-menu icon-button ms-2 float-end float-md-none">
                        <span class="burger-icon" aria-label="burger-menu" role="button"></span>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-expand-lg">
        <div class="container-xl">

            <div class="collapse navbar-collapse justify-content-center centered-nav">
                <!-- menus -->
                <ul class="navbar-nav">
                    <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home' %}">Ana Sayfa</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'MasallarHome' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'MasallarHome' %}">Masallar</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'HikayelerHome' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'HikayelerHome' %}">Hikayeler</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'hikayeAltKategori' %}active{% endif %}">
                        <a class="nav-link"
                           href="{% url 'oyunlar' %}"><i class="fa fa-gamepad" aria-hidden="true"></i> Oyunlar</a>
                    </li>

                    <li class="nav-item {% if request.resolver_match.url_name == 'cocuk' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'cocuk' %}"><i class="fas fa-star"></i> Çocuk Gelişimi</a>
                    </li>

                    <li class="nav-item {% if request.resolver_match.url_name == 'mobilapp' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'mobilapp' %}">Mobil Uygulama</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>