{% load static %}
<!-- Sağ Sidebar -->
<div class="col-lg-4">

        <!-- Sağ Sidebar -->


        <div class="widget no-container rounded text-md-center">
            <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7065951693101615"
                    crossorigin="anonymous"></script>
            <!-- esnek kare -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7065951693101615"
                 data-ad-slot="6332114250"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>


        <!-- widget categories -->
        <div class="widget rounded">
            <div class="widget-header text-center">
                <h2 class="widget-title">Popüler Masal Kategoriler</h2>
                {% include 'system/parcali/vave.html' %}
            </div>
            <div class="widget-content">
                <ul class="list">
                    <li><a href="{% url 'masalAltKategori' alt_kategori_slug="prens-masallari" %}">En Güzel Prens
                        Masalları</a></li>
                    <li><a href="{% url 'masalAltKategori' alt_kategori_slug="dini-masallar" %}">En Güzel Dini
                        Masallar</a></li>
                    <li><a href="{% url 'masalAltKategori' alt_kategori_slug="kardeslik-masallari" %}">En Güzel Kardeş
                        Masalları</a></li>
                    <li><a href="{% url 'masalAltKategori' alt_kategori_slug="iyilik-masallari" %}">En Güzel iyilik
                        Masalları</a></li>
                    <li><a href="{% url 'masalAltKategori' alt_kategori_slug="keloglan-masallari" %}">En Güzel Keloğlan
                        Masalları</a></li>
                </ul>
            </div>

        </div>

        <div class="widget no-container rounded text-md-center">
            <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7065951693101615"
                    crossorigin="anonymous"></script>
            <!-- esnek kare -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7065951693101615"
                 data-ad-slot="6332114250"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <!-- widget categories -->
        <div class="widget rounded">
            <div class="widget-header text-center">
                <h3 class="widget-title">Popüler Hikaye Kategoriler</h3>
                {% include 'system/parcali/vave.html' %}
            </div>
            <div class="widget-content">
                <ul class="list">
                    <li><a href="{% url 'hikayeAltKategori' alt_kategori_slug="ingilizce-hikayeler" %}">En Güzel
                        ingilizce Hikayeler</a></li>
                    <li><a href="{% url 'hikayeAltKategori' alt_kategori_slug="dini-hikayeler" %}">En Güzel Dini
                        Hikayeler</a></li>
                    <li><a href="{% url 'hikayeAltKategori' alt_kategori_slug="mutlu-aile-hikayeleri" %}">En Güzel Aile
                        Hikayeler</a></li>
                    <li><a href="{% url 'hikayeAltKategori' alt_kategori_slug="dostluk-hikayeleri" %}">En Güzel Dostluk
                        Hikayeleri</a></li>
                    <li><a href="{% url 'hikayeAltKategori' alt_kategori_slug="gezi-maceralari-hikayeleri" %}">En Güzel
                        Gezi Maceraları Hikayeleri</a></li>


                </ul>
            </div>

        </div>




</div>
<!-- Sağ Sidebar -->