{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}


{% block extra_head %}
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CollectionPage",

  "name": "Çocuk Gelişimi",


  "description": "{{ description }}",
  "keywords": "{{ keywords }}",
  "url": "{{ request.build_absolute_uri }}",
  "hasPart": [
    {% for storyx in icerik %}
    {
      "@type": "BlogPosting",
      "headline": "{{ storyx.title }}",

      "url": "{{ request.scheme }}://{{ request.get_host }}/cocuk-gelisimi/{{ storyx.slug }}/"


    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>
{% endblock %}

{% block content %}

    <section class="main-content">
        <div class="container-xl">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="section-header">
                        <h1 class="section-title">{{ sayfa_adi }}</h1>
                        {% include 'system/parcali/vave.html' %}
                    </div>


                    <div class="row">
                        {% for blog in icerik %}
                            <div class="col-sm-6" style="margin-top: 20px;">
                                <!-- post -->
                                <div class="post post-grid rounded bordered">
                                    <div class="thumb top-rounded">
                                        <a href="{% url 'blog-getir' blog_slug=blog.slug %}">
                                            <div class="inner">
                                                <img src="{{ blog.resim.url }}"
                                                     loading="lazy" alt="{{ masal.MasalKategoriAdi }}"
                                                     width="368" height="178"/>
                                            </div>
                                        </a>

                                    </div>
                                    <div class="details">
                                        <ul class="meta list-inline mb-0">
                                            <li class="list-inline-item"><strong>Eklenme
                                                Tarihi:</strong> {{ blog.olusturma_tarihi|date:"d F Y" }}</li>
                                        </ul>
                                        <h2 class="post-title mb-3 mt-3" style="font-size: 15px;">
                                            <a href="{% url 'blog-getir' blog_slug=blog.slug %}">{{ blog.title }}</a>
                                        </h2>
                                        <p class="excerpt mb-0"
                                           style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;">{{ blog.icerik|truncatechars:120|striptags }}</p>

                                    </div>
                                    <div class="post-bottom clearfix d-flex align-items-center justify-content-center">

                                        <a href="{% url 'blog-getir' blog_slug=blog.slug %}"
                                           class="btn btn-default">Devamını Oku</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    <nav>
                        <ul class="pagination justify-content-center">
                            {% if icerik.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?sayfa={{ icerik.previous_page_number }}">Önceki</a>
                                </li>
                            {% endif %}

                            {% for num in icerik.paginator.page_range %}
                                {% if icerik.number == num %}
                                    <li class="page-item active"><span
                                            class="page-link">{{ num }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?sayfa={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if icerik.has_next %}
                                <li class="page-item"><a class="page-link"
                                                         href="?sayfa={{ icerik.next_page_number }}">Sonraki</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>


                <!-- Sağ Sidebar -->
                {% include 'system/parcali/sagSidebar.html' %}
                <!-- Sağ Sidebar -->

            </div>
        </div>
    </section>



{% endblock content %}