{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}

{% block content %}

    <section class="main-content">
        <div class="container-xl">
            <div class="row gy-4">
                <div class="col-lg-8">
                      <div class="section-header">
                        <h1 class="section-title">{{ sayfa_adi }}</h1>
                        {% include 'system/parcali/vave.html' %}
                    </div>



                    {% for blog in icerik %}
                        <!-- post -->
                        <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <a href="{% url 'blog-getir' blog_slug=blog.slug %}">
                    <img src="{% static 'images/cocuk-gelisimi/'|add:blog.slug|add:'.webp' %}"
                         alt="{{ blog.title }}" class="card-img-top" style="border-radius: 0;">
                </a>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1"><small>Eklenme Tarihi: {{ blog.olusturma_tarihi|date:"d F Y" }}</small></li>
                        <li><small>Güncelleme Tarihi: {{ blog.guncelleme_tarihi|date:"d F Y" }}</small></li>
                    </ul>
                    <h2 class="card-title mt-3"><a href="{% url 'blog-getir' blog_slug=blog.slug %}">{{ blog.title }}</a></h2>
                    <p class="card-text">{{ blog.icerik|safe|truncatechars:80 }}</p>
                    <div class="text-center">
                        <a href="{% url 'blog-getir' blog_slug=blog.slug %}" class="btn btn-primary">Devamını Oku...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    {% endfor %}

                    <nav>
                        <ul class="pagination justify-content-center">
                            {% if icerik.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?sayfa={{ icerik.previous_page_number }}">Önceki</a>
                                </li>
                            {% endif %}

                            {% for num in icerik.paginator.page_range %}
                                {% if icerik.number == num %}
                                    <li class="page-item active"><span
                                            class="page-link">{{ num }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?sayfa={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if icerik.has_next %}
                                <li class="page-item"><a class="page-link"
                                                         href="?sayfa={{ icerik.next_page_number }}">Sonraki</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>


                <!-- Sağ Sidebar -->
                {% include 'system/parcali/sagSidebar.html' %}
                <!-- Sağ Sidebar -->

            </div>
        </div>
    </section>



{% endblock content %}