{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}

{% block content %}

    <section class="main-content">
        <div class="container-xl">


            <div class="col-lg-8">

                <div class="section-header">
                    <h1 class="section-title">{{ sayfa_adi }}</h1>
                    <img src="{% static 'images/wave.svg' %}" class="wave" alt="wave">
                </div>
                <div class="padding-30 rounded bordered">

                </div>


            </div>


            <!-- Sağ Sidebar -->
            {% include 'system/parcali/sagSidebar.html' %}
            <!-- Sağ Sidebar -->


        </div>
    </section>


{% endblock content %}