{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}
{% block ogtype %}article{% endblock %}
{% block yazar %}Melih ÖZKAŞ{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}

{% if EnDerun.resim.name %}
    {% block tt_post_image %}
        <meta name="twitter:image" content="{{ EnDerun.resim.url }}">{% endblock %}
    {% block sosyal_post_image %}
        <meta property="og:image" content="{{ EnDerun.resim.url }}">{% endblock %}

{% endif %}





{% block extra_head %}
    <script type="application/ld+json">
{
"@context": "https://schema.org",
  "@type": "Article",
  "name": "{{ EnDerun.title }}",
  "headline": "{{ EnDerun.title }}",
  "alternateName": "{{ EnDerun.h1 }}",
  "description": "{{ EnDerun.meta_description }}",
  "inLanguage": "tr",
  "sameAs": "{{ request.build_absolute_uri }}",
  "datePublished": "{{ EnDerun.olusturma_tarihi.isoformat }}",
  "dateModified": "{{ EnDerun.guncelleme_tarihi.isoformat }}",

  "mainEntityOfPage": {
  "@type": "webPage",
  "id": "{{ request.build_absolute_uri }}"
},

  {% if EnDerun.youtube %}
  "video": {
    "@type": "VideoObject",
    "name": "{{ EnDerun.title }}", // Video adını buraya ekleyin
    "description": "{{ EnDerun.meta_description }}", // Video açıklamasını buraya ekleyin
    "uploadDate": "{{ EnDerun.olusturma_tarihi.isoformat }}", // Video yükleme tarihini buraya ekleyin
    "thumbnailUrl": "{{ thumbnail_url }}", // Video küçük resim URL'sini
    "embedUrl": "{{ EnDerun.youtube }}"
    // Diğer video bilgilerini buraya ekleyin
  },
  {% endif %}

  "keywords": "{{ EnDerun.keywords }}",

  "author": {
  "@type": "Person",
  "name": "Melih ÖZKAŞ"
      },
"image": [
  {% for resim_url in resimler %}
    {
      "@type": "ImageObject",
      "url": "{{ resim_url|safe }}",
      "width": 800,
      "height": 400
    }{% if not forloop.last %},{% endif %}
  {% endfor %}
],

  "publisher": {
      "@type": "Organization",
      "name": "Masal Oku",
      "logo": {
        "@type": "ImageObject",
        "url": "https://masalbucket.s3.amazonaws.com/static/images/hikaye-masal.webp"
      }
    },

  "articleSection": "{{ TumKategori }}",
  "isFamilyFriendly": "true",
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": { "@type": "https://schema.org/ReadAction" },
    "userInteractionCount": "{{ EnDerun.okunma_sayisi }}"
  }
}
</script>
{% endblock %}


{% block extra_Two_head %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Çocuk Masalları | Uyku Masalı | Çocuk Hikayeleri | Masal Oku",
      "item": "https://www.cocukmasallarioku.com/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{% if EnDerun.Model == 'Masal' %}{{ EnDerun.masalKategorisi.first.Masal_Title }}{% else %}
        {{ EnDerun.hikayeKategorisi.first.Hikaye_Title }}{% endif %}",
      "item": "https://www.cocukmasallarioku.com/{{ EnDerun.Model|lower }}-kategori/{% if EnDerun.Model == 'Masal' %}
        {{ EnDerun.masalKategorisi.first.MasalSlug }}{% else %}
        {{ EnDerun.hikayeKategorisi.first.HikayeSlug }}{% endif %}/"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": "{{ EnDerun.title }}",
      "item": "https://www.cocukmasallarioku.com/{{ EnDerun.Model|lower }}-oku/{{ EnDerun.slug }}/"
    }
  ]

}
</script>
{% endblock %}




{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">


    <section class="main-content">
        <div class="container-xl">

            {% include 'system/parcali/yatayreklam.html' %}

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">AnaSayfa</a></li>
                    {% if EnDerun.Model == "Masal" %}
                        <li class="breadcrumb-item"><a href="{% url 'MasallarHome' %}">Çocuk Masalları</a></li>
                    {% elif EnDerun.Model == "Hikaye" %}
                        <li class="breadcrumb-item"><a href="{% url 'HikayelerHome' %}">Çocuk Hikayeleri</a></li>
                    {% endif %}

                    <li class="breadcrumb-item active" aria-current="page">{{ EnDerun.title }}</li>
                </ol>
            </nav>

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="post post-single">
                        <!-- post header -->
                        <div class="post-header">

                            <h1 class="title mt-0 mb-3" style="font-size: 24px;">{{ EnDerun.h1 }}</h1>

                            <!-- {% if EnDerun.Model == "Masal" %}
                            <h1 class="title mt-0 mb-3" style="font-size: 24px;">{{ EnDerun.title }} Masalını Oku - Çocuklar İçin</h1>
                        {% elif EnDerun.Model == "Hikaye" %}
                            <h1 class="title mt-0 mb-3" style="font-size: 24px;">{{ EnDerun.title }} Hikayesini Oku - Çocuklar İçin</h1>
                        {% endif %} -->

                            <ul class="meta list-inline mb-0">
                                {% if EnDerun.Model == "Masal" %}
                                    <li class="list-inline-item"><a href="{% url 'MasallarHome' %}">Masallar</a></li>
                                {% elif EnDerun.Model == "Hikaye" %}
                                    <li class="list-inline-item"><a href="{% url 'HikayelerHome' %}">Hikayeler</a></li>
                                {% endif %}
                                <li class="list-inline-item">Eklenme
                                    Tarihi: {{ EnDerun.olusturma_tarihi|date:"d F Y" }} </li>
                                <li class="list-inline-item">Güncelleme
                                    Tarihi: {{ EnDerun.guncelleme_tarihi|date:"d F Y" }} </li>
                            </ul>
                        </div>


                        <div class="post-content clearfix">

                            {% if EnDerun.resim %}
                                <figure class="figure">
                                    <img src="{{ EnDerun.resim.url }}" class="figure-img img-fluid rounded"
                                         alt="{{ EnDerun.title }}">
                                    <figcaption class="figure-caption text-center">{{ EnDerun.title }} - Masal Oku -
                                        Hikaye Oku
                                    </figcaption>
                                </figure>
                            {% endif %}

                            {% if EnDerun.youtube %}
                                <br/>
                                {% if EnDerun.Model == "Masal" %}
                                    <h2>YouTube' dan Masal Dinleyebilirsiniz - Abone Olmayı Unutmayın! &#128519;</h2>
                                {% elif EnDerun.Model == "Hikaye" %}
                                    <h2>YouTube' dan Hikaye Dinleyebilirsiniz - Abone Olmayı Unutmayın! &#128519;</h2>
                                {% endif %}



                                <br/>

                                <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                                    <iframe style="position: absolute; top:0; left: 0; width: 100%; height: 100%;"
                                            src="{{ EnDerun.youtube }}" title="{{ EnDerun.title }} - Masalını Dinle"
                                            frameborder="0"
                                            allowfullscreen></iframe>
                                </div>
                                <br/>
                                <script src="https://apis.google.com/js/platform.js"></script>

                                <div style="display: flex; align-items: center;">
                                    <div class="g-ytsubscribe" data-channelid="UCm8n38Sg8uVYCRjs3faSAuQ"
                                         data-layout="full" data-count="default"></div>
                                    <p style="margin-left: 20px; font-weight: bold; position: relative; top: 10px;">
                                        Lütfen abone olup bize <br> destek olun! 😇</p>
                                </div>

                            {% endif %}

                            {% if EnDerun.Model == "Masal" %}
                                <br/>
                                <h3>Haydi, büyülü dünyamıza adım atalım. Masalımız şimdi başlıyor...</h3>
                            {% elif EnDerun.Model == "Hikaye" %}
                                <h3>Birlikte yeni bir maceraya atılalım. Hikayemiz başlıyor...</h3>
                                <br/>
                            {% endif %}


                            <div>
                                {{ EnDerun.icerik|safe }}
                            </div>

                            {% if EnDerun.icerik2 %}
                                {% include 'system/parcali/yatayreklam.html' %}

                                {% if EnDerun.resim2 %}
                                    <figure class="figure">
                                        <img src="{{ EnDerun.resim2.url }}" class="figure-img img-fluid rounded"
                                             alt="{{ EnDerun.title }} - 2">
                                    </figure>
                                {% endif %}
                                <div>{{ EnDerun.icerik2|safe }}</div>
                            {% endif %}

                            {% if EnDerun.icerik3 %}
                                {% include 'system/parcali/yatayreklam.html' %}
                                {% if EnDerun.resim3 %}
                                    <figure class="figure">
                                        <img src="{{ EnDerun.resim3.url }}" class="figure-img img-fluid rounded"
                                             alt="{{ EnDerun.title }} - 3">
                                    </figure>
                                {% endif %}
                                <div>{{ EnDerun.icerik3|safe }}</div>
                            {% endif %}

                            {% if EnDerun.icerik4 %}
                                {% include 'system/parcali/yatayreklam.html' %}
                                {% if EnDerun.resim4 %}
                                    <figure class="figure">
                                        <img src="{{ EnDerun.resim4.url }}" class="figure-img img-fluid rounded"
                                             alt="{{ EnDerun.title }} - 4">
                                    </figure>
                                {% endif %}
                                <div>{{ EnDerun.icerik4|safe }}</div>
                            {% endif %}


                            <!-- post bottom section -->
                            <div class="post-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-6 col-12 text-center text-md-start">
                                        <!-- buttons -->
                                        <a href="{% url 'masal-getir' masal_slug=BaskaMasal.slug %}"
                                           class="btn btn-default">Başka Masal</a>
                                        <a href="{% url 'hikaye-getir' hikaye_slug=BaskaHikaye.slug %}"
                                           class="btn btn-default">Başka Hikaye</a>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <!-- social icons -->
                                        <style>
                                            .social-icons .bi {
                                                font-size: 24px; /* İkonların boyutunu ayarlar */
                                                animation: fadeInOut 2s infinite;
                                                animation-delay: calc(.2s * var(--i));
                                            }

                                            @keyframes fadeInOut {
                                                0% {
                                                    opacity: 0.5;
                                                }
                                                50% {
                                                    opacity: 1;
                                                }
                                                100% {
                                                    opacity: 0.5;
                                                }
                                            }

                                            .social-icons .bi {
                                                animation: fadeInOut 2s infinite;
                                                animation-delay: calc(.2s * var(--i));
                                            }
                                        </style>

                                        <ul class="social-icons list-unstyled list-inline mb-0 float-md-end">
                                            <li class="list-inline-item"><a
                                                    href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                                                    target="_blank"><i class="bi bi-facebook"
                                                                       aria-label="Hikaye ve Masalı Facebook'ta Paylaş"
                                                                       title="Hikaye ve Masalı Facebook'ta Paylaş"
                                                                       role="button" style="--i: 0;"></i></a></li>
                                            <li class="list-inline-item"><a
                                                    href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}"
                                                    target="_blank"><i class="bi bi-twitter"
                                                                       aria-label="Hikaye ve Masalı Twitter'da Paylaş"
                                                                       title="Hikaye ve Masalı Twitter'da Paylaş"
                                                                       role="button" style="--i: 1;"></i></a></li>
                                            <li class="list-inline-item"><a
                                                    href="https://wa.me/?text=Bunu Keslinkle okumalısın! {{ request.build_absolute_uri }}"
                                                    target="_blank"><i class="bi bi-whatsapp"
                                                                       aria-label="Hikaye ve Masalı Whatsapp'da Paylaş"
                                                                       title="Hikaye ve Masalı Whatsapp'da Paylaş"
                                                                       role="button" style="--i: 2;"></i></a></li>
                                            <li class="list-inline-item"><a href="https://www.instagram.com/"
                                                                            target="_blank"><i class="bi bi-instagram"
                                                                                               aria-label="Hikaye ve Masalı instagram'da Paylaş"
                                                                                               title="Hikaye ve Masalı instagram'da Paylaş"
                                                                                               role="button"
                                                                                               style="--i: 3;"></i></a>
                                            </li>
                                            <li class="list-inline-item"><a
                                                    href="https://telegram.me/share/url?url={{ request.build_absolute_uri }}"
                                                    target="_blank"><i class="bi bi-telegram"
                                                                       aria-label="Hikaye ve Masalı Telegram'da Paylaş"
                                                                       title="Hikaye ve Masalı Telegram'da Paylaş"
                                                                       role="button" style="--i: 4;"></i></a></li>
                                            <li class="list-inline-item"><a href="#"
                                                                            onclick="navigator.clipboard.writeText(window.location.href); return false;"><i
                                                    class="bi bi-clipboard" aria-label="Masal & Hikayeyi Kopyala"
                                                    title="Masal & Hikayeyi Kopyala" role="button" style="--i: 5;"></i></a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- Sağ Sidebar -->
                {% include 'system/parcali/sagSidebar.html' %}
                <!-- Sağ Sidebar -->

            </div>
        </div>
    </section>



{% endblock content %}