{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}

{% block content %}

    <section class="main-content">
        <div class="container-xl">
            <h1>Gizlilik Politikası</h1>
            <p><br>Son g&uuml;ncelleme: 31 Aralık 2024</p>

            <h2>Kişisel Bilgilerin Toplanması ve Kullanılması</h2>
            <p>https://www.cocukmasallarioku.com olarak, ziyaretçilerimizin gizliliğini korumak için çeşitli önlemler
                alıyoruz. Web sitemizi ziyaret ettiğinizde, IP adresinizi ve hangi sayfaları ziyaret ettiğinizi
                kaydediyoruz. Bu bilgiler genel istatistiksel amaçlarla ve web sitemizi geliştirmek için kullanılır.</p>
            <p>Web sitemizde çerezler kullanıyoruz. Çerezler, web sitemizin düzgün çalışmasını sağlamak ve kullanıcı
                deneyiminizi geliştirmek için kullanılır.</p>

            <h2><strong>13 Yaş Altı Kullanıcılar İ&ccedil;in &Ouml;zel Politika</strong></h2>
            <p>Masal Oku uygulaması, 13 yaş altı &ccedil;ocuklar i&ccedil;in &ouml;zel olarak tasarlanmıştır. COPPA (&Ccedil;ocukların &Ccedil;evrimi&ccedil;i Gizliliğini Koruma Yasası) ve ilgili t&uuml;m &ccedil;ocuk g&uuml;venliği yasalarına tam uyum sağlamaktayız.</p>
            <h3><strong>Toplanan Veriler ve Kullanım Ama&ccedil;ları</strong></h3>
            <p><strong>1. Temel Kullanıcı Bilgileri:</strong><br>&nbsp; &nbsp;&bull; E-posta adresi (sadece hesap doğrulama i&ccedil;in)<br>&nbsp; &nbsp;&bull; Kullanıcı adı<br>&nbsp; &nbsp;&bull; Cihaz kimliği<br><strong>&nbsp; &nbsp;Bu bilgiler sadece:</strong><br>&nbsp; &nbsp;- Hesap oluşturma ve kimlik doğrulama<br>&nbsp; &nbsp;- Hesap kurtarma<br>&nbsp; &nbsp;- G&uuml;venlik &ouml;nlemleri i&ccedil;in kullanılır</p>
            <p><strong>2. Uygulama Kullanım Verileri:</strong><br>&nbsp; &nbsp;&bull; Uygulama performans bilgileri<br>&nbsp; &nbsp;&bull; Hata raporları<br>&nbsp; &nbsp;&bull; Kullanım istatistikleri<br><strong>&nbsp; &nbsp;Bu veriler:</strong><br>&nbsp; &nbsp;- Uygulama performansını iyileştirme<br>&nbsp; &nbsp;- Teknik sorunları &ccedil;&ouml;zme<br>&nbsp; &nbsp;- Kullanıcı deneyimini geliştirme amacıyla kullanılır</p>
            <p><strong>Veri Koruma ve G&uuml;venlik</strong><br>- T&uuml;m veriler şifreli olarak saklanır<br>- Sadece gerekli minimum veri toplanır<br>- Veriler 12 ay kullanılmadığında otomatik silinir<br>- &Uuml;&ccedil;&uuml;nc&uuml; taraflarla veri paylaşımı yapılmaz (zorunlu servisler hari&ccedil;)</p>
            <p><strong>Reklam Politikası</strong><br>- Sadece &ccedil;ocuklara uygun reklamlar g&ouml;sterilir (G-rated)<br>- Davranışsal reklam hedefleme kullanılmaz<br>- Reklam i&ccedil;erikleri yaşa uygun olarak filtrelenir<br>- Reklam verileri COPPA uyumlu şekilde işlenir</p>
            <p><strong>Ebeveyn Hakları ve Kontroller</strong><br><strong>Ebeveynler aşağıdaki haklara sahiptir:</strong><br>1. &Ccedil;ocuklarının verilerini inceleme<br>2. Verilerin silinmesini talep etme<br>3. Veri toplama izinlerini y&ouml;netme<br>4. Hesap ayarlarını kontrol etme<br>5. Reklam tercihlerini y&ouml;netme</p>
            <p><strong>Bu hakları kullanmak i&ccedil;in bize e-posta ile ulaşabilirsiniz.</strong></p>
            <p><strong>&Ccedil;ocuk G&uuml;venliği &Ouml;nlemleri</strong><br>- Uygunsuz i&ccedil;erik filtreleme<br>- G&uuml;venli arama &ouml;zelliği<br>- Kısıtlı sosyal &ouml;zellikler<br>- Moderasyon sistemi<br>- Yaşa uygun i&ccedil;erik kontrol&uuml;</p>
            <p><strong>Veri Saklama ve Silme</strong><br>- Aktif olmayan hesaplar 12 ay sonra silinir<br>- Veri silme talepleri 48 saat i&ccedil;inde işleme alınır<br>- Gereksiz veriler d&uuml;zenli olarak temizlenir<br>- Silinen veriler geri getirilemez şekilde imha edilir</p>
            <p><strong>&Uuml;&ccedil;&uuml;nc&uuml; Parti Hizmetler</strong><br>Uygulamamız aşağıdaki &uuml;&ccedil;&uuml;nc&uuml; parti hizmetleri kullanır:<br>- Firebase (kimlik doğrulama ve veri saklama)<br>- Google AdMob (&ccedil;ocuklara uygun reklamlar)<br><strong>Bu servisler COPPA uyumlu şekilde yapılandırılmıştır.</strong></p>
            <p><strong>Yasal Haklar ve COPPA Uyumu</strong><br>- 13 yaş altı kullanıcılar i&ccedil;in ebeveyn onayı gereklidir<br>- Kişisel bilgiler minimum d&uuml;zeyde toplanır<br>- Veriler yasal zorunluluklar dışında paylaşılmaz<br>- COPPA gereklilikleri tam olarak uygulanır</p>
            <p><strong>&Ccedil;erezler ve Benzer Teknolojiler</strong><br>- Sadece gerekli &ccedil;erezler kullanılır<br>- Takip &ccedil;erezleri kullanılmaz<br>- Analitik &ccedil;erezler minimum d&uuml;zeyde tutulur<br>- &Ccedil;erez verileri kişiselleştirilmez</p>
            <p><strong>İletişim Bilgileri</strong><br>Gizlilik politikamız hakkında sorularınız i&ccedil;in:<br>E-posta: cocukmasallarioku@gmail.com<br>Yanıt s&uuml;resi: 48 saat i&ccedil;inde</p>
            <p><strong>Politika G&uuml;ncellemeleri</strong><br><strong>Bu gizlilik politikası gerektiğinde g&uuml;ncellenebilir. &Ouml;nemli değişiklikler olduğunda:</strong><br>- Uygulama i&ccedil;inde bildirim yapılır<br>- E-posta ile bilgilendirme yapılır<br>- Web sitemizde duyuru yayınlanır</p>


            <h2>Reklam Güvenliği ve Politikamız</h2>

<ul>
 <li>Tüm reklamlar Google AdMob aracılığıyla sunulur</li>
 <li>AdMob'un çocuk güvenliği filtreleri aktiftir</li>
 <li>Maksimum reklam içerik derecelendirmesi Genel İzleyici olarak ayarlanmıştır</li>
 <li>Çocuklara yönelik özel reklam ayarları etkindir</li>
 <li>Yaş onay protokolleri aktiftir</li>
</ul>

<p>AdMob'un çocuk güvenliği politikaları hakkında detaylı bilgi için:<br>
<a href="https://support.google.com/admob/answer/6223431">https://support.google.com/admob/answer/6223431</a></p>

<p>Google AdMob gizlilik politikası için:<br>
<a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a></p>
            <h2>Google AdSense</h2>
            <p>Web sitemizde Google AdSense kullanıyoruz. Google AdSense, kullanıcıların ilgi alanlarına göre
                hedeflenmiş reklamlar sunar. Google AdSense, çerezleri kullanarak kullanıcıların ilgi alanlarını
                belirler.</p>
            <p>Google AdSense'in çerezleri nasıl kullandığı hakkında daha fazla bilgi edinmek için <a
                    href="https://policies.google.com/technologies/ads">Google Gizlilik Politikası</a>'nı ziyaret
                edebilirsiniz.</p>

            <h2>Çerezlerin Kullanımı</h2>
            <p>Web sitemizde çerezler kullanıyoruz. Çerezler, web tarayıcınız tarafından bilgisayarınıza yerleştirilen
                küçük dosyalardır. Çerezler, web sitemizin düzgün çalışmasını sağlar ve bize web sitemizi nasıl
                kullandığınız konusunda bilgi verir.</p>
            <p>Çerezleri nasıl kontrol edeceğiniz dahil, çerezler hakkında daha fazla bilgi edinmek için <a
                    href="{% url 'cerez' %}">Çerez Politikamız</a>'ı ziyaret edebilirsiniz.</p>

            <h2>Değişiklikler</h2>
            <p>Bu Gizlilik Politikası'nı zaman zaman güncelleyebiliriz. Değişiklikler yapıldığında bu sayfayı
                güncelleyeceğiz. Bu Gizlilik Politikası'nın düzenli olarak gözden geçirilmesini öneririz.</p>

            <h2>İletişim</h2>
            <p>Gizlilik Politikamız hakkında herhangi bir sorunuz varsa, lütfen bizimle <a href="{% url 'iletisim' %}">iletişime
                geçin</a>.</p>
            <p>Son G&uuml;ncelleme Tarihi<br>Bu politika en son 31 Aralık 2024 tarihinde g&uuml;ncellenmiştir.</p>


        </div>
    </section>



{% endblock content %}