{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}

{% block content %}

    <section class="main-content">
		<div class="container-xl">

<h1>Gizlilik Politikası</h1>

<p>cocukmasallarioku.com ("biz", "bize", "bizim"), sizin gizliliğinizi ciddiye alır. Bu Gizlilik Politikası, cocukmasallarioku.com'un ("Web Sitesi") kullanımı sırasında topladığımız, kullandığımız, açıkladığımız ve koruduğumuz kişisel bilgileri açıklar.</p>

<h2>Bilgi Toplama ve Kullanımı</h2>

<p>Web sitemizi ziyaret ettiğinizde, IP adresiniz gibi belirli bilgiler otomatik olarak toplanır. Bu bilgiler, kullanıcı deneyiminizi iyileştirmek ve web sitemizin performansını analiz etmek için kullanılır.</p>

<h2>Çerezler</h2>

<p>Web sitemiz, kullanıcı deneyiminizi iyileştirmek için çerezler kullanır. Tarayıcınızın çerez ayarlarını değiştirerek çerez kullanımını kontrol edebilirsiniz.</p>

<h2>Bilgi Paylaşımı</h2>

<p>Kişisel bilgilerinizi üçüncü taraflarla paylaşmıyoruz. Ancak, yasal bir zorunluluk altında olduğumuz durumlarda veya haklarımızı korumak için kişisel bilgilerinizi açıklama hakkını saklı tutarız.</p>

<h2>Güvenlik</h2>

<p>Kişisel bilgilerinizi korumak için ticari olarak kabul edilebilir güvenlik önlemleri alıyoruz. Ancak, hiçbir iletim yönteminin veya elektronik depolamanın %100 güvenli olmadığını unutmayın.</p>

<h2>Değişiklikler</h2>

<p>Bu Gizlilik Politikasını zaman zaman güncelleyebiliriz. Değişiklikler yürürlüğe girdiğinde bu sayfayı güncelleyeceğiz.</p>

<h2>İletişim</h2>

<p>Bu Gizlilik Politikası hakkında herhangi bir sorunuz varsa, lütfen bizimle iletişime geçin.</p>

		</div>
	</section>



{% endblock content %}