{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}

{% block content %}

    <section class="main-content">
		<div class="container-xl">

<h1>Hakkımızda</h1>

<p>Merhaba, biz cocukmasallarioku.com ekibiyiz. Amacımız, çocukların hayal gücünü ve okuma becerilerini geliştirmek için en sevilen ve en öğretici masalları bir araya getirmektir.</p>

<p>Masallar, çocukların dünyayı anlamalarına yardımcı olur. Biz de bu süreci desteklemek ve çocukların hayal gücünü genişletmek için buradayız. Sitemizdeki masallar, çocukların zihinsel ve duygusal gelişimine katkıda bulunacak şekilde özenle seçilmiştir.</p>

<p>Sitemizdeki her masal, çocukların hayal gücünü zenginleştirecek ve onlara değerli dersler sunacak şekilde tasarlanmıştır. Ayrıca, masallarımızın çocuklarınıza okuma alışkanlığı kazandıracağına inanıyoruz.</p>

<p>Biz, çocukların eğitimine değer katmak için buradayız. Sitemizdeki masallarla çocuklarınızın hayal dünyasına renk katmayı ve onlara keyifli anılar bırakmayı umuyoruz.</p>

<p>Her zaman daha fazla masal eklemeye devam edeceğiz, bu yüzden sık sık ziyaret etmeyi unutmayın!</p>

<p>Ayrıca, sitemizdeki masalların çeşitliliğini artırmak için sürekli olarak yeni yazarlar ve illüstratörlerle çalışıyoruz. Eğer siz de masallarınızı veya illüstrasyonlarınızı bizimle paylaşmak isterseniz, lütfen bizimle iletişime geçin.</p>

<p>Unutmayın, bir masal sadece bir hikaye değildir. Aynı zamanda çocuğunuzun hayal gücünü besler, empati yeteneğini geliştirir ve ona dünyayı anlamasında yardımcı olur. Biz de cocukmasallarioku.com olarak bu sürece katkıda bulunmaktan mutluluk duyarız.</p>

<p>Sevgiler,</p>
<p>cocukmasallarioku.com Ekibi</p>

		</div>
	</section>



{% endblock content %}