{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}



{% block extra_head %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://www.cocukmasallarioku.com/",
      "name": "Çocuk Masalları Oku",
      "description": "{{ description|escapejs }}",
      "keywords": "{{ keywords|escapejs }}",
      "publisher": {
        "@type": "Organization",
        "name": "Çocuk Masalları Oku",
        "logo": {"@type": "ImageObject", "url": "{% static 'images/hikaye-masal.webp' %}"}
      },
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.cocukmasallarioku.com/arama/?q={query}",
        "query-input": "required name=query"
      }
    }
    </script>

{% endblock extra_head %}

{% block extra_Two_head %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Çocuk Masalları | Uyku Masalı | Çocuk Hikayeleri | Masal Oku",
      "item": "https://www.cocukmasallarioku.com/"
    }
  ]

}
</script>
{% endblock %}



{% block content %}
    <section class="main-content">
        <div class="container-xl">

            <div class="row gy-4">
                <h1 style="display: none;">Masal Oku, Hikaye Oku, Peri Masalı, Uyku Masalları | Çocuk Masalları</h1>

                <div class="col-lg-8">


                    <div class="section-header mb-5">
    <figure class="figure text-center mb-3">
        <a href="{% url 'mobilapp' %}">
            <img src="https://masalbucket.s3.amazonaws.com/static/images/masal-mobil-uygulama.png"
                 class="figure-img img-fluid rounded"
                 alt="Mobil uygulama indir" width="800" height="400" loading="lazy"
                 style="border: 2px solid #ddd; border-radius: 10px; transition: transform 0.3s;">
        </a>
        <figcaption class="figure-caption text-center" style="font-size: 18px; color: #333; font-weight: 600;">
            <a href="{% url 'mobilapp' %}" style="text-decoration: none; color: inherit;">
                Ücretsiz Store'da Sınırsız Eğlence! 🌟
            </a>
        </figcaption>
    </figure>

    <p style="font-size: 22px; font-weight: bold; text-align: center; line-height: 1.6; color: #222;">
        <a href="{% url 'mobilapp' %}" style="text-decoration: none; color: inherit;">
            Hem iOS hem de Android için birbirinden eğlenceli <span style="color: #CB0746FF;">oyunlar</span>
            ve <span style="color: #AC0000FF;">büyüleyici masallar</span> sizi bekliyor!
            Hemen keşfedin, eğlenceye katılın! 📱🎮📚
        </a>
    </p>
                    </div>



                    <div class="section-header mb-5">
                        <h2 class="section-title">En Güzel Masallar</h2>
                        {% include 'system/parcali/vave.html' %}
                    </div>
                    <!--   thumbnail   -->
                    <div class="thumb rounded">
                        <a href="{% url 'masal-oku' %}">
                            <div class="inner">
                                <img src="{% static 'images/masal-oku.gif' %}" width="800" height="400"
                                     style="border-radius: 20px;" loading="lazy" alt="Masal Oku"/>
                            </div>
                        </a>
                    </div>

                    <!-- details -->
                    <br>
                    <div class="details">
                        <p class="excerpt mb-0" style="color: black">Çocuklarınızın hayal dünyasını genişletmek ve
                            onlara keyifli anlar yaşatmak için <a
                                    href="{% url 'masal-oku' %}"><strong><span>Masal Oku</span></strong></a> sayfamızı
                            ziyaret edin!</p>
                    </div>


                    <div class="section-header">
                        <h2 class="section-title">En Güzel Hikayeler</h2>
                        {% include 'system/parcali/vave.html' %}
                    </div>
                    <!--   thumbnail   -->
                    <div class="thumb rounded">
                        <a href="{% url 'hikaye-oku' %}">
                            <div class="inner">
                                <img src="{% static 'images/hikaye-oku.webp' %}" width="800" height="400"
                                     style="border-radius: 20px;" loading="lazy" alt="Masal Oku"/>
                            </div>
                        </a>
                    </div>


                    <div class="section-header">
                        <h2 class="section-title">En Güzel Çocuk Oyunları</h2>
                        {% include 'system/parcali/vave.html' %}
                    </div>
                    <!--   thumbnail   -->
                    <div class="thumb rounded">
                        <a href="{% url 'oyunlar' %}">
                            <div class="inner">
                                <img src="{% static 'images/cocuk-oyunlari.webp' %}" width="800" height="400"
                                     style="border-radius: 20px;" loading="lazy" alt="Masal Oku"/>
                            </div>
                        </a>
                    </div>

                    <!-- details -->
                    <br>
                    <div class="details">
                        <p class="excerpt mb-0" style="color: black">Çocuklarınızla ücretsiz eğitici ve zeka geliştirici
                            hemde öğretici çocuk oyunları oynayabilirsiniz! Keyifli vakitler dileriz.</p>
                    </div>
                    <br>


                    <div class="row gy-4">

                        <div class="section-header">
                            <h2 class="section-title">Popüler Masal Kategorileri</h2>
                            {% include 'system/parcali/vave.html' %}
                        </div>

                        <!-- Tüm Masal Kategorileri -->
                        <div class="col-sm-6">
                            <!-- post -->
                            <div class="post post-grid rounded bordered">
                                <div class="thumb top-rounded">
                                    <a href="{% url 'MasallarHome' %}" class="category-badge position-absolute">Tüm
                                        Kategoriler</a>
                                    <a href="{% url 'MasallarHome' %}">
                                        <div class="inner">
                                            <img src="{% static 'images/masal/Tüm Kategoriler.webp' %}"
                                                 width="356" height="178" alt="post-title"/>
                                        </div>
                                    </a>
                                </div>
                                <div class="details">
                                    <ul class="meta list-inline mb-0">
                                        <li class="list-inline-item" style="color: black">Sürekli Güncel içerik</li>
                                    </ul>
                                    <h3 class="post-title mb-3 mt-3"><a href="{% url 'MasallarHome' %}">Tüm Masal
                                        Kategorileri</a></h3>

                                </div>
                                <div class="post-bottom clearfix d-flex align-items-center">
                                    <a href="{% url 'MasallarHome' %}" class="btn btn-default">Tüm Kategorileri Gör</a>
                                </div>
                            </div>
                        </div>


                        <!-- Home Yedek Masal -->
                        <!-- Popüler Kategoriler Masal -->
                        <!-- Home Yedek Masal -->




                        {% for masal in masal_banner %}
                            <div class="col-sm-6">
                                <!-- post -->
                                <div class="post post-grid rounded bordered">
                                    <div class="thumb top-rounded">
                                        <a href="{% url 'masalAltKategori' alt_kategori_slug=masal.MasalSlug %}"
                                           class="category-badge position-absolute">{{ masal.MasalKategoriAdi }}</a>

                                        <a href="{% url 'masalAltKategori' alt_kategori_slug=masal.MasalSlug %}">
                                            <div class="inner">
                                                <img src="{% static 'images/masal/'|add:masal.MasalSlug|add:'.webp' %}"
                                                     width="356" height="178" alt="{{ masal.MasalKategoriAdi }}"/>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="details">
                                        <ul class="meta list-inline mb-0">
                                            <li class="list-inline-item" style="color: black">Eklenme
                                                Tarihi: {{ masal.olusturma_tarihi|date:"d F Y" }}</li>
                                        </ul>
                                        <h3 class="post-title mb-3 mt-3"><a
                                                href="{% url 'masalAltKategori' alt_kategori_slug=masal.MasalSlug %}">{{ masal.MasalKategoriAdi }}</a>
                                        </h3>

                                    </div>
                                    <div class="post-bottom clearfix d-flex align-items-center">
                                        <a href="{% url 'masalAltKategori' alt_kategori_slug=masal.MasalSlug %}"
                                           class="btn btn-default">Kategorideki Tüm Masalları
                                            Gör</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}



                        <div class="section-header">
                            <h2 class="section-title">Popüler Hikaye Kategorileri</h2>
                            {% include 'system/parcali/vave.html' %}
                        </div>

                        {% for hikaye in hikaye_banner %}
                            <div class="col-sm-6">
                                <!-- post -->
                                <div class="post post-grid rounded bordered">
                                    <div class="thumb top-rounded">
                                        <a href="{% url 'hikayeAltKategori' alt_kategori_slug=hikaye.HikayeSlug %}"
                                           class="category-badge position-absolute">{{ hikaye.HikayeKategoriAdi }}</a>

                                        <a href="{% url 'hikayeAltKategori' alt_kategori_slug=hikaye.HikayeSlug %}">
                                            <div class="inner">
                                                <img src="{% static 'images/hikaye/'|add:hikaye.HikayeSlug|add:'.webp' %}"
                                                     width="356" height="178" alt="{{ hikaye.HikayeKategoriAdi }}"/>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="details">
                                        <ul class="meta list-inline mb-0">
                                            <li class="list-inline-item">Eklenme
                                                Tarihi: {{ hikaye.olusturma_tarihi|date:"d F Y" }}</li>
                                        </ul>
                                        <h3 class="post-title mb-3 mt-3"><a
                                                href="{% url 'hikayeAltKategori' alt_kategori_slug=hikaye.HikayeSlug %}">{{ hikaye.HikayeKategoriAdi }}</a>
                                        </h3>

                                    </div>
                                    <div class="post-bottom clearfix d-flex align-items-center">
                                        <a href="{% url 'hikayeAltKategori' alt_kategori_slug=hikaye.HikayeSlug %}"
                                           class="btn btn-default">Kategorideki Tüm Hikayeleri
                                            Gör</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                </div>


                <!-- Sağ Sidebar -->
                {% include 'system/parcali/sagSidebar.html' %}
                <!-- Sağ Sidebar -->

            </div>

        </div>
    </section>



{% endblock content %}