{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}



{% block extra_head %}
    <script type="application/ld+json">

    {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://www.cocukmasallarioku.com/",
    "name": "Çocuk Masalları Oku",
    "description": "{{ description }}",
    "keywords": "{{ keywords }}",
    "publisher": {
    "@type": "Organization",
    "name": "Çocuk Masalları Oku",
    "logo": {
    "@type": "ImageObject",
    "url": "{% static 'images/hikaye-masal.webp' %}"
    }
    }
    }
</script>

{% endblock extra_head %}





{% block content %}
    <section class="main-content">
        <div class="container-xl">

            <div class="row gy-4">
                <h1 style="display: none;">Masal Oku, Hikaye Oku, Peri Masalı, Uyku Masalları | Çocuk Masalları</h1>

                <div class="col-lg-8">
                    <!-- thumbnail-->
                    <div class="thumb rounded">
                        <a href="{% url 'home' %}" class="category-badge position-absolute">Masal Oku</a>
                        <span class="post-format">

                    </span>
                        <a href="{% url 'home' %}">
                            <div class="inner">
                                <img src="{% static 'images/masal-oku.webp' %}" width="800" height="400" style="border-radius: 10px;" loading="lazy" alt="Masal Oku"/>
                            </div>
                        </a>
                    </div>

                    <!-- details-->
                    <div class="details">
                        <p class="excerpt mb-0">Masal OKU</p>
                    </div>


                    <div class="row gy-4">

                        <div class="section-header">
                            <h2 class="section-title">Popüler Masal Kategorileri</h2>
                            {% include 'system/parcali/vave.html' %}
                        </div>

                        <!-- Tüm Masal Kategorileri -->
                        <div class="col-sm-6">
                            <!-- post -->
                            <div class="post post-grid rounded bordered">
                                <div class="thumb top-rounded">
                                    <a href="{% url 'MasallarHome' %}" class="category-badge position-absolute">Tüm
                                        Kategoriler</a>
                                    <a href="{% url 'MasallarHome' %}">
                                        <div class="inner">
                                            <img src="{% static 'images/masal/Tüm Kategoriler.webp' %}"
                                                 width="356" height="178" alt="post-title"/>
                                        </div>
                                    </a>
                                </div>
                                <div class="details">
                                    <ul class="meta list-inline mb-0">
                                        <li class="list-inline-item">Sürekli Güncel içerik</li>
                                    </ul>
                                    <h3 class="post-title mb-3 mt-3"><a href="{% url 'MasallarHome' %}">Tüm Masal
                                        Kategorileri</a></h3>

                                </div>
                                <div class="post-bottom clearfix d-flex align-items-center">
                                    <a href="{% url 'MasallarHome' %}" class="btn btn-default">Tüm Kategorileri Gör</a>
                                </div>
                            </div>
                        </div>


                        <!-- Home Yedek Masal -->
                        <!-- Popüler Kategoriler Masal -->
                        <!-- Home Yedek Masal -->




                        {% for masal in masal_banner %}
                            <div class="col-sm-6">
                                <!-- post -->
                                <div class="post post-grid rounded bordered">
                                    <div class="thumb top-rounded">
                                        <a href="{% url 'masalAltKategori' alt_kategori_slug=masal.MasalSlug %}"
                                           class="category-badge position-absolute">{{ masal.MasalKategoriAdi }}</a>

                                        <a href="{% url 'masalAltKategori' alt_kategori_slug=masal.MasalSlug %}">
                                            <div class="inner">
                                                <img src="{% static 'images/masal/'|add:masal.MasalSlug|add:'.webp' %}"
                                                     width="356" height="178" alt="{{ masal.MasalKategoriAdi }}"/>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="details">
                                        <ul class="meta list-inline mb-0">
                                            <li class="list-inline-item">Eklenme
                                                Tarihi: {{ masal.olusturma_tarihi|date:"d F Y" }}</li>
                                        </ul>
                                        <h3 class="post-title mb-3 mt-3"><a
                                                href="{% url 'masalAltKategori' alt_kategori_slug=masal.MasalSlug %}">{{ masal.MasalKategoriAdi }}</a>
                                        </h3>

                                    </div>
                                    <div class="post-bottom clearfix d-flex align-items-center">
                                        <a href="{% url 'masalAltKategori' alt_kategori_slug=masal.MasalSlug %}"
                                           class="btn btn-default">Kategorideki Tüm Masalları
                                            Gör</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}



                        <div class="section-header">
                            <h2 class="section-title">Popüler Hikaye Kategorileri</h2>
                            {% include 'system/parcali/vave.html' %}
                        </div>

                        {% for hikaye in hikaye_banner %}
                            <div class="col-sm-6">
                                <!-- post -->
                                <div class="post post-grid rounded bordered">
                                    <div class="thumb top-rounded">
                                        <a href="{% url 'hikayeAltKategori' alt_kategori_slug=hikaye.HikayeSlug %}"
                                           class="category-badge position-absolute">{{ hikaye.HikayeKategoriAdi }}</a>

                                        <a href="{% url 'hikayeAltKategori' alt_kategori_slug=hikaye.HikayeSlug %}">
                                            <div class="inner">
                                                <img src="{% static 'images/hikaye/'|add:hikaye.HikayeSlug|add:'.webp' %}"
                                                     width="356" height="178" alt="{{ hikaye.HikayeKategoriAdi }}"/>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="details">
                                        <ul class="meta list-inline mb-0">
                                            <li class="list-inline-item">Eklenme
                                                Tarihi: {{ hikaye.olusturma_tarihi|date:"d F Y" }}</li>
                                        </ul>
                                        <h3 class="post-title mb-3 mt-3"><a
                                                href="{% url 'hikayeAltKategori' alt_kategori_slug=hikaye.HikayeSlug %}">{{ hikaye.HikayeKategoriAdi }}</a>
                                        </h3>

                                    </div>
                                    <div class="post-bottom clearfix d-flex align-items-center">
                                        <a href="{% url 'hikayeAltKategori' alt_kategori_slug=hikaye.HikayeSlug %}"
                                           class="btn btn-default">Kategorideki Tüm Hikayeleri
                                            Gör</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                </div>


                <!-- Sağ Sidebar -->
                {% include 'system/parcali/sagSidebar.html' %}
                <!-- Sağ Sidebar -->

            </div>

        </div>
    </section>



{% endblock content %}