{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}

{% block content %}

    <section class="main-content">
        <div class="container-xl">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="row gy-4">
                        <div class="section-header">
                            <h1 class="section-title">{{ sayfa_adi }}</h1>
                            {% include 'system/parcali/vave.html' %}
                        </div>

                        <!-- Yedek Masal buraya eklenebilir istersen -->
                        <!-- Yedek Masal buraya eklenebilir istersen -->
                        <!-- Yedek Masal buraya eklenebilir istersen -->



                        {% for masal in masal_banner %}
                            <div class="col-sm-6">
                                <!-- post -->
                                <div class="post post-grid rounded bordered">
                                    <div class="thumb top-rounded">
                                        {% if sayfa_Turu == "Masal" %}
                                            <a href="{% url 'masalAltKategori' alt_kategori_slug=masal.MasalSlug %}"
                                               class="category-badge position-absolute">{{ masal.MasalKategoriAdi }}</a>

                                            <a href="{% url 'masalAltKategori' alt_kategori_slug=masal.MasalSlug %}">
                                                <div class="inner">
                                                    <img src="{% static 'images/masal/'|add:masal.MasalSlug|add:'.webp' %}"
                                                         loading="lazy" alt="{{ masal.MasalKategoriAdi }}"
                                                         width="356" height="178"/>
                                                </div>
                                            </a>

                                        {% elif sayfa_Turu == "Hikaye" %}
                                            <a href="{% url 'hikayeAltKategori' alt_kategori_slug=masal.HikayeSlug %}"
                                               class="category-badge position-absolute">{{ masal.HikayeKategoriAdi }}</a>

                                            <a href="{% url 'hikayeAltKategori' alt_kategori_slug=masal.HikayeSlug %}">
                                                <div class="inner">
                                                    <img src="{% static 'images/hikaye/'|add:masal.HikayeSlug|add:'.webp' %}"
                                                         loading="lazy" alt="{{ masal.HikayeKategoriAdi }}" width="356" height="178"/>
                                                </div>
                                            </a>

                                        {% endif %}

                                    </div>
                                    <div class="details">
                                        <ul class="meta list-inline mb-0">
                                            <li class="list-inline-item">Eklenme
                                                Tarihi: {{ masal.olusturma_tarihi|date:"d F Y" }}</li>
                                        </ul>
                                        <h2 class="post-title mb-3 mt-3">
                                            {% if sayfa_Turu == "Masal" %}
                                                <a href="{% url 'masalAltKategori' alt_kategori_slug=masal.MasalSlug %}">{{ masal.MasalKategoriAdi }}</a>
                                            {% elif sayfa_Turu == "Hikaye" %}
                                                <a href="{% url 'hikayeAltKategori' alt_kategori_slug=masal.HikayeSlug %}">{{ masal.HikayeKategoriAdi }}</a>
                                            {% endif %}

                                        </h2>

                                    </div>
                                    <div class="post-bottom clearfix d-flex align-items-center">
                                        {% if sayfa_Turu == "Masal" %}
                                            <a href="{% url 'masalAltKategori' alt_kategori_slug=masal.MasalSlug %}"
                                               class="btn btn-default">Kategorideki Tüm Masalları Gör</a>
                                        {% elif sayfa_Turu == "Hikaye" %}
                                            <a href="{% url 'hikayeAltKategori' alt_kategori_slug=masal.HikayeSlug %}"
                                               class="btn btn-default">Kategorideki Tüm Hikayeleri Gör</a>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                </div>


                <!-- Sağ Sidebar -->
                {% include 'system/parcali/sagSidebar.html' %}
                <!-- Sağ Sidebar -->

            </div>
        </div>
    </section>



{% endblock content %}