{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Site Başlığı{% endblock %}</title>
    <meta name="description" content="{% block description %}Site description{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Site keywords{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/hikaye-masal.webp' %}">
    <!-- Robots Etiketi -->
    <meta name="robots" content="index, follow">

    <!-- Open Graph Etiketleri (Facebook, LinkedIn) -->
    <meta property="og:title" content="{% block ogtitle %}OG TITLE{% endblock %}">
    <meta property="og:description" content="{% block ogDes %}OG DES{% endblock %}">
    <meta property="og:image" content="{% static 'images/hikaye-masal.webp' %}">
    <meta property="og:url" content="{% block ogurl %}OG url{% endblock %}">


    <!-- Twitter Card Etiketleri -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{% block twaccountsite %}tw accounts{% endblock %}">
    <meta name="twitter:creator" content="{% block twcreator %}tw creator{% endblock %}">
    <meta name="twitter:title" content="{% block twtitle %}tw title{% endblock %}">
    <meta name="twitter:description" content="{% block twdesc %}tw description{% endblock %}">
    <meta name="twitter:image" content="{% static 'images/hikaye-masal.webp' %}">

    <!-- STYLES -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">

    <meta name="yandex-verification" content="1a690f5a764c5068"/>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C6JL2B5DM8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-C6JL2B5DM8');
    </script>


    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-55K4Z56P');</script>
    <!-- End Google Tag Manager -->


    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-55K4Z56P"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- preloader -->
<div id="preloader">
    <div class="book">
        <div class="inner">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>

    </div>
</div>

<!-- site wrapper -->
<div class="site-wrapper">

    <div class="main-overlay"></div>

    <!-- header -->
    {% include 'system/parcali/header.html' %}


    <!-- section main content -->

    {% block content %}

    {% endblock content %}

    <!-- footer -->
    {% include 'system/parcali/footer.html' %}


</div><!-- end site wrapper -->


<!-- canvas menu -->
<div class="canvas-menu d-flex align-items-end flex-column">
    <!-- close button -->
    <button type="button" class="btn-close" aria-label="Close"></button>

    <!-- logo -->
    <div class="logo">
        <img src="{% static 'images/hikaye-masal.webp' %}" loading="lazy" alt="En Güzel Masalları Oku" width="125"
             height="125"/>
    </div>

    <!-- menu -->
    <nav>
        <ul class="vertical-menu">
            <li><a href="{% url 'home' %}">Ana Sayfa</a></li>
            <li><a href="{% url 'MasallarHome' %}">Masallar</a></li>
            <li><a href="{% url 'HikayelerHome' %}">Hikayeler</a></li>
            <li><a href="{% url 'hikayeAltKategori' alt_kategori_slug="ingilizce-hikayeler" %}">İngilizce Hikayeler</a>
            </li>
            <li><a href="{% url 'iletisim' %}">İletişim</a></li>
        </ul>
    </nav>


</div>




<!-- Çerez Bildirimi Pop-up -->
<div id="cookie-popup" style="display: none; position: fixed; bottom: 20px; right: 20px; background-color: #f9edbe; padding: 10px; text-align: center; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); width: auto; max-width: 300px;">
    <span style="color: #333;">Web sitemiz, kullanıcı deneyiminizi iyileştirmek için çerezler kullanır. Web sitemizi kullanarak çerez politikamızı kabul etmiş olursunuz.</span>
    <button onclick="closeCookiePopup()" style="background-color: #ffcc00; color: #333; border: none; padding: 5px 10px; cursor: pointer; margin-left: 10px;">Kabul Ediyorum</button>
</div>

<script>
// Çerez bildirimi pop-up'ını kapatma fonksiyonu
function closeCookiePopup() {
    document.getElementById('cookie-popup').style.display = 'none';

    // Çerez bildiriminin kabul edildiğini bir çerezde sakla
    document.cookie = "cookiePopupAccepted=true; max-age=31536000"; // 1 yıl süreyle sakla
}

// Sayfa yüklendiğinde çerez bildirimi pop-up'ını gösterme fonksiyonu
window.onload = function() {
    // Eğer çerez bildirimi daha önce kabul edilmişse, pop-up'ı gösterme
    if (document.cookie.split(';').some((item) => item.trim().startsWith('cookiePopupAccepted='))) {
        return;
    }

    // Aksi takdirde, çerez bildirimi pop-up'ını göster
    document.getElementById('cookie-popup').style.display = 'block';
}
</script>











<!-- JAVA SCRIPTS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky-sidebar.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>



<!--
<div class="ads-horizontal text-md-center">
    <span class="ads-title">- Sponsored Ad -</span>
    <a href="#">
        <img src="{% static 'images/ads/ad-750.png' %}" alt="Advertisement"/>
    </a>
</div>

-->


</body>
</html>